APP_ENV=development
SECRET_KEY=supersecretkeythatshouldbechangedinproduction
CORS_ORIGINS=http://localhost:5173

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/peoplepay360
